<h1>CRUD ACTIONS</h1>
<% @posts.each do |post| %>

    <div class="well">
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <%= link_to "Read More" , post_path(post), :class => 'btn btn-primary' %>
    </div>
<% end %>